{% load i18n %}

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand" href="/">Relojito</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <p class="navbar-text navbar-right">
                <li>
                    <a href="https://github.com/MSA-Argentina/relojito_project/issues/new">{% trans "Feedback" %}</a>
                </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans 'Signed in as' %} {{user}} <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                                {% if user.is_superuser %}
                            <li>
                                <a href="/admin">Admin</a>
                            </li>
                            <li>
                              <a href="{% url 'project_list' %}">
                                {% trans 'All projects' %}</a>
                            </li>
                                {% endif %}
                            <li>
                                <a href="{% url 'password_change' %}">{% trans 'Change password' %}</a>
                            </li>
                            <li>
                                <a href="{% url 'get_token' %}">{% trans 'Get Token' %}</a>
                            </li>
                            <li>
                                <a href="{% url 'personal_stats' %}">{% trans 'Personal stats' %}</a>
                            </li>
                            <li>
                              <a href="{% url 'edit_profile' %}">
                                {% trans 'Edit profile' %}</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="{% url 'logout' %}">Logout</a>
                            </li>
                        </ul>

                    </li>
                </p>

                </li>
        </div>
        <!--/.navbar-collapse -->
    </div>
</div>
