{% extends "base.html" %}
{% load i18n %}

{% block title %}Relojito{% endblock %}

{% block content %}
<div class="container">
    <div class="row">

        <div class="col-md-4">
            <h3>{% trans 'Projects (Owner)' %}</h3>
            <ul class="list-group">
              {% if owned_projects %}
                {% for p in owned_projects %}
                  {% if p.description %}
                   <li class="list-group-item"><a href="{% url 'project_detail' pk=p.id %}">{{p.name}} - {{p.description}}</a></li>
                {% else %}
                   <li class="list-group-item"><a href="{% url 'project_detail' pk=p.id %}">{{p.name}}</a></li>
                {% endif %}
                {% endfor %}
                {% else %}
                <h4>{% trans 'No projects' %}</h4>
                {% endif %}
                <hr/>
            <h3>{% trans 'Projects (Collaborator)' %}</h3>
            <ul class="list-group">
              {% if collab_projects %}
                {% for p in collab_projects %}
                  {% if p.description %}
                   <li class="list-group-item"><a href="{% url 'project_detail' pk=p.id %}">{{p.name}} - {{p.description}}</a></li>
                {% else %}
                   <li class="list-group-item"><a href="{% url 'project_detail' pk=p.id %}">{{p.name}}</a></li>
                {% endif %}
                {% endfor %}
                {% else %}
                <h4>{% trans 'No projects' %}</h4>
                {% endif %}
            </ul>
            {% if user.is_superuser %}
                    <a class="btn btn-default btn-sm"
                       href="{% url 'create_project' %}">
                        {% trans 'Add project' %}
                    </a>
                    <a class="btn btn-default btn-sm"
                       href="{% url 'create_projectcollaborator' %}">
                        {% trans 'Add collaborator' %}
                    </a>
                    <a class="btn btn-default btn-sm"
                       href="{% url 'project_list' %}">
                        {% trans 'All projects' %}
                    </a>
                    {% endif %}
            {% if user_can_audit %}
                    <a class="btn btn-default"
                       href="{% url 'project_list' %}">
                        {% trans 'All projects' %}
                    </a>
            {% endif %}
        </div>

        <div class="col-md-4">
            <h3>{% trans 'Latest Tasks' %}</h3>
            <ul class="list-group">
                {% for task in tasks %}
                <li class="list-group-item"><a href="{% url 'task_detail' pk=task.id %}">{{task.name}} </a><span class="label label-default">{{task.total_hours}} h</span>
                  <a href="{% url 'project_detail' pk=task.project.id %}"<span class="label" style="background-color: {{task.project.color}};color: #444">{{task.project.name}}</span></a></li>
                {% endfor %}
            </ul>
                    <a class="btn btn-default btn-sm btn-block"
                       href="{% url 'create_task' %}">
                        {% trans 'Add task' %}
                    </a>
        </div>

        <div class="col-md-4">
            <h3>{% trans 'Calendar' %}</h3>
            <div id='calendar'></div>
        </div>
    </div>

    {% endblock %}
