{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans 'Profile' %}{% endblock %}


{% block content %}
<div class="container">
<script>var user_id = {{profile.id}};</script>
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>{{profile.first_name}} {{profile.last_name}}</h4>
          </div>
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt>{% trans 'Username' %}<dt>
                <dd>{{profile.username}}</dd>

                <dt>{% trans 'Is active?' %}</dt>
                {% if profile.is_active %}
                    <dd><span class="glyphicon glyphicon-ok"></span></dd>
                {% else %}
                    <dd><span class="glyphicon glyphicon-remove"></span></dd>
                {% endif %}

                <dt>{% trans 'Email' %}<dt>
                <dd>{{profile.email|urlize}}</dd>

                <dt>{% trans 'Weekly hours' %}<dt>
                <dd>{{profile.total_hours_last_week}}</dd>

                <dt>{% trans 'Average hours' %}</dt>
                <dd>{{profile.avg_hours_last_week}}</dd>

                {% with t=profile.get_last_inserted_task %}
                <dt>{% trans 'Last input' %}</dt>



                <dd>{{t.date}} / <a href="{% url 'task_detail' pk=t.id %}">{{t.name}}</a> - {% trans 'Inserted on:' %} {{ t.created_at }}</dd>

                {% endwith %}
                <dt>{% trans 'Last task' %}</dt>

                {% with t=profile.get_last_task %}
                <dd>{{t.date}} / <a href="{% url 'task_detail' pk=t.id %}">{{t.name}}</a></dd>
                {% endwith %}

            </dl>

        </div>
      </div>


    <h3>{% trans 'Calendar of' %} {{ profile.first_name }} {{profile.last_name}}</h3>
    <div class="row">
    <div id='profile-calendar'></div>
    </div>

    <hr/>
      <h3>{% trans 'Tasks' %}</h3>

      <table class="table table-condensed">
      <thead>
        <tr>
          <th>{% trans 'Task' %}</th>
          <th>{% trans 'Type' %}</th>
          <th>{% trans 'Project' %}</th>
          <th>{% trans 'Date' %}</th>
          <th>{% trans 'Total hours' %}</th>
        </tr>
      </thead>
      <tbody>
        {% for t in tasks %}
        <tr>
          {% if t.description %}
          <td><a href="{% url 'task_detail' pk=t.id %}">{{t.name}} - {{t.description}}</a></td>
          {% else %}
          <td><a href="{% url 'task_detail' pk=t.id %}">{{t.name}}</a></td>
          {% endif %}
          <td>{{ t.task_type }}</td>
          <td><a href="{% url 'project_detail' pk=t.project.id %}">{{t.project.name}}</a></td>
          <td>{{ t.date|date:"Y-m-d" }}</td>
          <td>{{ t.total_hours }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
</div>
{% endblock %}
