{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans 'Project detail' %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>{{project.name}}</h4>
          </div>
        <div class="panel-body">
          <p>{{project.description}}</p>
          <hr>
          <p>{% trans 'Client' %}: {{project.client}}</p>
          <p>{% trans 'Owner' %}: {{project.owner}}</p>
          <p>{% trans 'Total tasks' %}: {{project.total_tasks}}</p>
          <p>{% trans 'Total hours' %}: {{project.total_hours}}</p>
          <p>{% trans 'Is active?' %}: {{project.is_active}}</p>
          <p>{% trans 'Due date' %}: {{project.due_date}}</p>
          <p>{% trans 'External url' %}: {{project.external_url|urlize}}</p>
          <p>{% trans 'Color' %}: <span class="label" style="background-color: {{project.color}};color: #444">{{project.color}}</span></p>
        </div>
      </div>

      {% if user.is_superuser %}
      <h4>{% trans 'Tasks' %}</h4>
      {% else %}
      <h4>{% trans 'My Tasks' %}</h4>
      {% endif %}

      <table class="table table-condensed">
      <thead>
        <tr>
          <th>{% trans 'Task' %}</th>
          <th>{% trans 'Owner' %}</th>
          <th>{% trans 'Type' %}</th>
          <th>{% trans 'Created' %}</th>
          <th>{% trans 'Resolved as' %}</th>
          <th>{% trans 'Total hours' %}</th>
        </tr>
      </thead>
      <tbody>
        {% for t in tasks %}
        <tr>
          <td><a href="{% url 'task_detail' pk=t.id %}">{{t.name}} - {{t.description}}</a></td>
          <td>{{ t.owner }}</td>
          <td>{{ t.task_type }}</td>
          <td>{{ t.created_at }}</td>
          <td>{{ t.resolved_as }}</td>
          <td>{{ t.total_hours }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
                    <a class="btn btn-default"
                       href="{% url 'edit_project' pk=project.id %}">
                        {% trans 'Edit project' %}
                    </a>
    </div>
</div>
{% endblock %}
