{% extends "base.html" %}
{% load i18n %}

{% block title %}Task Detail detail{% endblock %}

{% block content %}
    <div class="container">
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>{{task.name}}</h4>
          </div>
        <div class="panel-body">
          <p>{{task.description}}</p>
          <hr>
          <p>{% trans 'Project' %}: <a href="{% url 'project_detail' pk=task.project.id %}">{{task.project.name}}</a></p>
          <p>{% trans 'Date' %}: {{task.date}}</p>
          <p>{% trans 'Total hours' %}: {{task.total_hours}}</p>
          <p>{% trans 'Resolved as' %}: {{task.resolved_as}}</p>
          <p>{% trans 'External url' %}: {{task.external_url|urlize}}</p>
          <p>{% trans 'Owner' %}: {{task.owner}}</p>
        </div>
      </div>
                    <a class="btn btn-default"
                       href="{% url 'edit_task' pk=task.id %}">
                        {% trans 'Edit task' %}
                    </a>
    </div>
{% endblock %}
