{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Task Detail' %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading" style="background-color: {{task.project.color}}">
                <h4>{% trans 'Task: ' %} {{task.name}}</h4>
            </div>
            <div class="panel-body">
                {% if task.description %}
                <p>{{task.description}}</p>
                <hr>
                {% endif %}

                <dl class="dl-horizontal">
                    <dt>{% trans 'Project' %}</dt>
                    <dd><a href="{% url 'project_detail' pk=task.project.id %}">{{task.project.name}}</a></dd>

                    <dt>{% trans 'Date' %}</dt>
                    <dd>{{task.date}}</dd>

                    <dt>{% trans 'Created' %}</dt>
                    <dd>{{task.created_at}}</dd>

                    <dt>{% trans 'Total hours' %}</dt>
                    <dd>{{task.total_hours}}</dd>

                    <dt>{% trans 'Type of task' %}</dt>
                    <dd>{{task.task_type}}</dd>

                    {% if task.external_url %}
                    <dt>{% trans 'External url' %}</dt>
                    <dd>{{task.external_url|urlize}}</dd>
                    {% endif %}
                    <dt>{% trans 'Owner' %}</dt>
                    <dd><a href="{% url 'view_profile' pk=task.owner.id %}">{{ task.owner }}</a></dd>

                </dl>

            </div>
        </div>
        <a class="btn btn-default"
           href="{% url 'edit_task' pk=task.id %}">
            {% trans 'Edit task' %}
        </a>
        <a class="btn btn-danger"
           href="{% url 'task_delete' pk=task.id %}">
            {% trans 'Delete task' %}</a>
    </div>
    {% endblock %}
