[uwsgi]
buffer-size=8192
env=DJANGO_SETTINGS_MODULE=relojito.settings.{{relojito_environment}}
{% if relojito_environment == 'development' %}
py-autoreload=1
{% endif %}
harakiri-verbose=True
harakiri=480
logger=file:{{relojito_log_dir}}/uwsgi/relojito_uwsgi.log
master=True 
max-requests=5000
module=relojito.wsgi
pidfile=/tmp/relojito-uwsgi.pid
processes=%k
pythonpath={{relojito_main_dir}}/relojito

socket=/var/run/relojito.sock
chmod-socket=660
chown-socket=www-data:www-data

stats=127.0.0.1:1717
threads=2
vacuum=True
virtualenv={{relojito_virtualenv_dir}}