# coding: utf-8

from .base import *

SECRET_KEY = 'p^ht)d9&!ij(@!6+s4b=!fz(&6yiw@aln2i#5%&31*9=b-7%l0'

DEBUG = {{relojito_django_debug}}

INSTALLED_APPS += (
    'django_extensions',
)

DJANGO_SETTINGS_MODULE = 'relojito.settings.{{relojito_environment}}'

ALLOWED_HOSTS = '{{relojito_allowed_hosts}}'

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': '{{relojito_dbname}}',
        'USER': '{{relojito_dbuser}}',
        'PASSWORD': '',
        'HOST': '',
        'PORT': '',
        'CONN_MAX_AGE': 60,  # mantiene abiertas las conexiones a la db
    }
}

CACHE_TIMEOUT = 1 * 1

ELECCION_POR_DEFECTO_ID = 1

INTERNAL_IPS = ('127.0.0.1', '192.168.50.1')

TEMPLATE_LOADERS = (
    'django.template.loaders.filesystem.Loader',
    'django.template.loaders.app_directories.Loader',
)

LOG_LEVEL = {{relojito_log_level}}
LOG_FILE = "{{relojito_log_file}}"

EMAIL_BACKEND = 'django_mailgun.MailgunBackend'
DEFAULT_FROM_EMAIL = "{{default_from_email}}"
MAILGUN_ACCESS_KEY = "{{mailgun_access_key}}"
MAILGUN_SERVER_NAME = "{{mailgun_server_name}}"
SITE_URL = "{{site_url}}"
ALERT_USERS_BLACKLIST = {{alert_users_blacklist}}