[program:celery-relojito]
environment=PYTHONPATH="$PYTHONPATH:{{relojito_main_dir}}"
directory={{relojito_main_dir}}/relojito
command={{relojito_virtualenv_dir}}/bin/celery -A relojito worker -B --loglevel=info --schedule=/tmp/beat_relojito.db
user={{relojito_default_user}}
stdout_logfile={{relojito_celery_out_log_file}}
stderr_logfile={{relojito_celery_err_log_file}}
autostart=true
autorestart=true
startsecs=10
stopwaitsecs=600